body {
    padding-top: 40px;
    overflow: hidden;
    background-color: #eee;
}

/* ////////////////////// QED ////////////////////// */

.wmd-preview
{
        background-color: #c0e0ff;
	padding: 10px;
	/*display: none; */
}

.wmd-button-row
{
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 10px;
        padding: 0px;
        height: 20px;
}

.wmd-spacer
{
        width: 1px;
        height: 20px;
        margin-left: 14px;

        position: absolute;
        background-color: Silver;
        display: inline-block;
        list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/assets/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
        background-color: Black;
}

.wmd-prompt-dialog
{
        border: 1px solid #999999;
        background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
        font-size: 0.8em;
        font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
        border: 1px solid #999999;
        color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
        border: 1px solid #888888;
        font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
}

.qed-editor {
    text-align: justify;
}


.qed-editor * {
    font-size: 18px;
}

.qed-editor * {
    line-height: 1.5em;
    font-family: "Palatino Linotype", serif;
}

.qed-editor > h1 {
    font-size: 1.7em;
    text-align: center;
    border-bottom: 1px solid #777;
    margin-top: 1em;
    text-transform: uppercase;
}

.qed-editor > h2 {
    font-size: 1.3em;
    margin-top: 1em;
    text-transform: uppercase;
}

.qed-editor img {
    padding: 5px;
    background-color: #e6e6e6;
    border: 1px solid #777;
    max-width: 100%;
    display: block;
    margin: 5px auto;
    
}

.qed-editor code {
    font-family: monospace;
}

.qed-editor p {
}

.qed-editor *:hover {
    background-color: #F5F5F5;
}

.qed-editor textarea {
    overflow: hidden;
    border: 0;
    border-color: transparent;
    box-shadow: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f6f6f6;
    padding: 0;
    width: 100%;
    /*text-align: justify;*/
    resize: none;
}

.navview {
    /*background-color: #e6e6e6;*/
}

.editorview, .sourceview {
    overflow: auto;
    margin: 0 auto;
    height: 100%;
}

form {
    margin: 0;
}

.editor-inner {
    padding: 0 10px;
}

.textbox-full {
    width: 100%;
    height: 60%;
}

.left-toolbar {
    padding: 10px;
}

.editorview, .sourceview  {
    background-color: white;
}

.editorview {
    border-left: 1px solid #46A546;
}

.container-fluid {
    background-color: #eee;
}

footer .active {
    
}


footer {
    background-color: #eee;
    text-align: center;
}

footer .btn-toolbar {
    margin: 5px auto;
}

#mudimPanel {
    display: none;
}

.row-fluid, .row-fluid > [class*="span"], .container-fluid {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navview {
    overflow: hidden;
}

.row-fluid > .span1 {
    width: 8.33333333%;
}

.row-fluid > .span2 {
    width: 16.6666666%;
}

.row-fluid > .span5 {
    width: 41.6666666%;
}

.row-fluid > .span6 {
    width: 50%;
}

.last-editable {
    padding-bottom: 20px;
    border-bottom: 1px dotted #777;
    margin-bottom: 10px;
}

.last-editable:hover {
    background-color: lightyellow;
}

.left-toolbar {
    margin-top: 0;
}


#sauce {
    height: 100%;
    max-height: 100%;
    margin-bottom: 0;
    resize: none;
}

.docform {
    margin: 0;
}

.embedded-link i {
    vertical-align: baseline;
}

.embedded-link {
    margin-left: 0.2em;
    opacity:.30;
    filter:alpha(opacity=30);
}

.embedded-link:hover {
    display: normal;
    opacity:1;
    filter:alpha(opacity=100);
}
