::-webkit-scrollbar { width: 8px; height: 10px; } ::-webkit-scrollbar-button:start:decrement { display: block; width: 5px; height: 5px; background-color: whiteSmoke; } ::-webkit-scrollbar-button:end:increment { display: block; width: 5px; height: 5px; background-color: whiteSmoke; } ::-webkit-scrollbar-track:enabled { background-color: whiteSmoke; } ::-webkit-scrollbar-track-piece { background-color: whiteSmoke; border: none; margin: 8px 0 8px 0; } ::-webkit-scrollbar-thumb:vertical { height: 30px; background-color: grey; -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 1px grey; } ::-webkit-scrollbar-thumb:horizontal { width: 30px; background-color: grey; -webkit-border-radius: 5px; }

body {
    padding-top: 70px;
    padding-bottom: 38px;
    
    background-image: url(/assets/img/grid-18px-masked.png);
    background-repeat: repeat-x;
    background-position: 0 40px;
}

@media (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

footer ul
{margin:0px; padding:0px;}

footer ul li
{display:inline; height:30px; float:left; list-style:none;}

footer ul li a
{padding: 5px 10px;}

.fullwidth {
    width: 100%;
    height: 500px;
    font-family: monospace;
}



/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}


.navbar .nav > li > a {
	color: #ccc;
}

.nav i {
	opacity: 0.5;
}

.nav a:hover i {
	opacity: 1;
}

.tooltip-inner {
	max-width: 500px;
}

.alert a {
	font-weight: bold;
	text-decoration: underline;
}

.alert p {
	margin: 0;
}

.hero-unit {
	margin-top: 60px;
	margin-bottom: 60px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.hero-unit, .thumbnail {
  background-color: #e3e3e3;
}

.hero-unit h1, .hero-unit p {
  text-align: center;
  margin-bottom: 15px;
}

#social {
  margin-top: 45px;
}

.twitter-follow-button {
  width: 160px !important;
}

.rss-button {
	width: 40px;
	height: 14px;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	margin: 0;
	padding: 2px 5px 2px 4px;
}

.icon-envelope {
	opacity: .65;
}

.about {
  margin-top: 20px;
}

.about h3 {
  margin: 0 0 5px 35px;
}

.about img {
  float: left;
  opacity: 0.8;
}

#gallery {
  margin: 45px 0 30px 0;
  padding-right: 20px;
  text-align: center;
}

.thumbnail img {
  max-width: 100%;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}

.thumbnail .label {
	vertical-align: top;
}

.thumbnail p {
	max-width: 352px;
}

.thumbnail .btn-toolbar {
  text-align: right;
}

.thumbnail .btn-group {
    margin-top: 10px;
}

.modal .label {
 vertical-align: text-top;
}

.modal p {
	margin-bottom: 1em;
}

.modal p:last-child {
	margin-top: 2em;
}

/* Landscape phones and down */
@media (max-width: 480px) {

	body, .navbar {
		margin: 0;
	}

	body {
		padding: 0;
	}

	.container {
		padding: 20px;
	}

	.span4 {
		width: 100%;
	}

	.hero-unit {
		padding: 40px 20px 80px;
		margin-bottom: 20px;
	}

	.hero-unit h1 {
	  font-size: 36px;
	}

	.hero-unit p {
		font-size: 13px;
		line-height: 20px;
	}

	#social {
		margin-top: 0px;
		margin-bottom: 40px;
	}

	.about {
	  margin-top: -10px;
	}

	.about h3 {
	  margin-top: 20px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.hero-unit {
		margin-top: 0;
		padding-bottom: 80px;
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {

	.hero-unit {
		margin-top: 0;
	}

	.thumbnail .btn {
		font-size: 11px;
	}

}

/* Large desktop */
@media (min-width: 1200px) {


}


.navbar-inner {
    background: black url(/assets/img/darkwood.png) top left repeat-x !important;
}


input, select, .uneditable-input {
    height: auto !important;
}

.book-item {
    /*text-align: center;*/
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -khtml-border-radius: 9px;
    border-radius: 9px;
    background: #fff;
    border: 1px solid #DDD;
    height: 510px;
    width: 240px;
    overflow: hidden;
}

.book-item .book-cover {
    width: 240px;
    height: 360px;
    margin: 0 auto;
}

.book-item > a {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.book-item h6 {
    text-align: center;
}

.book-item-wrapper {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #EEE;
    padding: 4px;
    margin-bottom: 20px;
}

.book-item .caption {
    padding: 4px;
    overflow: hidden;
    height: 96px;
}

.bottom-actions {
    border-top: 1px solid #DDD;
    text-align: center;
}

.book-list > h1 {
    margin-bottom: 1em;
    font-weight: normal;
}

.book-list .span3 {
}

.uppercase {
    text-transform: uppercase;
}

.project-info-tabs {
    text-transform: uppercase;
    font-weight: bold;
}

.project-info h1 {
    font-weight: normal;
    font-size: 3em;
}

.project-descriptions {
    text-transform: uppercase;
}

.project-info-right {

}

.project-info-right div {
    border-left: 1px solid #efefef;
}

.project-info .book-cover {
    text-align: right;
}

.short-intro {
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.3em;
}

/* Note: Hack */
#project-intro-editor {
    margin-left: 0;
}

.qed-editor textarea {
    width: 100%;
    overflow: hidden;
    border: 0;
    border-color: transparent;
    box-shadow: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f6f6f6;
    padding: 0;
    width: 100%;
    /*text-align: justify;*/
    resize: none;
}

.qed-editor {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    padding: 5px;
}


.qed-editor:hover {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}

.last-editable {
    padding-bottom: 20px;
    border-bottom: 1px dotted #777;
    margin-bottom: 10px;
}

.last-editable:hover {
    background-color: lightyellow;
}