{% extends "master.html" %}

{% block title %}{{ parent() }} Welcome{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block main %}
<div class="container">
    <header class="hero-unit">
        <div class="inner">
<pre id="preformat">Dự án Góp Chữ thành Sách
===

Góp Chữ là trang mạng phi vụ lợi và phi chính trị đóng vai trò trung gian gây quỹ và quyên góp để tài trợ trước hết cho việc tạo ra các bản sách dịch chất lượng cao định dạng điện tử cung cấp miễn phí cho người đọc tiếng Việt.

Bạn là dịch giả, nhà báo, nhà thiết kế, họa sỹ, lập trình viên, nhà đầu tư? [Xin hãy giúp chúng tôi một tay](/wigit/index.php?r=HelpUs)

http://facebook.com/gopchuvn

The Vietnamese Reader Community
===

Góp Chữ is a non-profit non-political crowd-funding platform supporting translators and book translation projects in Vietnam to create high quality translation free-books for the Vietnamese readers.
Please join us in sharing and giving and fueling growth in underdeveloped communities through the dissemination of free knowledge.
</pre>
            <div id="postformat"></div>
        </div>
    </header>
</div>
{% endblock %}

{% block bodyend %}
{{ parent() }}
<script src="/assets/pagedown/Markdown.Converter.js"></script>
<script src="/assets/pagedown/Markdown.Sanitizer.js"></script>
<script>
    var converter1 = Markdown.getSanitizingConverter();
    $('#postformat').html(converter1.makeHtml($('#preformat').text()));
    $('#preformat').remove();
</script>
{% endblock %}

{% block footmenu %}
{{ parent() }}
{% endblock %}
