{% extends "master.html" %}

{% block title %}{{ parent() }} Đăng nhập{% endblock %}

{% block head %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="/assets/css/openid.css"/>
{% endblock %}

{% block bodyend %}
{{ parent() }}
<script type="text/javascript" src="/assets/js/openid-jquery.js"></script>
<script type="text/javascript" src="/assets/js/openid-en.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        openid.init('openid_identifier');
    });

    $('#manualInputSec').hide();
</script>
{% endblock %}

{% block main %}
<div class="container">
    <div class="hero-unit">
        <h1>Đăng ký / Đăng nhập</h1>

        <p>Góp Chữ sử dụng OpenID (Google, Yahoo, MSN,...) để chứng thực tài khoản của bạn.</p>

        <p>OpenID là hệ thống chứng thực an toàn, đảm bảo tính riêng tư và giúp bạn không phải nhớ mật khẩu ở nhiều site
            khác nhau.</p>

        <form method="get" action="auth_try.php" id="openid_form">
            <div id="openid_choice">
                <p>Xin click chọn một nơi mà bạn có tài khoản</p>

                <div id="openid_btns"></div>
            </div>

            <div class="clearfix" id="manualInputSec">
                <input type="hidden" name="action" value="verify"/>

                <div id="openid_input_area">
                    <input type="openid_identifier" name="openid_identifier" id="openid_identifier" value=""/>
                    <input id="openid_submit" value="Đăng nhập"/></p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footmenu %}
{{ parent() }}
<li><a href="#" onclick="$('#manualInputSec').show(); return false;">Chỉ định một nhà cung cấp OpenID riêng</a></li>
{% endblock %}