<!-- Main Menu -->
<ul class="nav" id="main_menu">
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dự án<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="project_list.php">Danh sách các dự án</a></li>
            <li class="divider"></li>
            <li><a href="project_edit.php?act=register">Đăng ký dự án mới</a></li>
            <li class="divider"></li>
            <li><a href="project_list.php?constrains=mine">Các dự án của tôi</a></li>

            <!--<li><a href="#">Các dự án tôi quan tâm</a></li>
            <li class="divider"></li>
            <li><a href="#">Các dự án mới</a></li>
            <li><a href="#">Các dự án đã hoàn thiện</a></li>
            <li><a href="#">Các dự án cần tài trợ</a></li>
            -->
        </ul>
    </li>

    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Phụ trợ<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a class="" href="/wigit">Wiki</a></li>
        </ul>
    </li>
</ul>

<ul class="nav pull-right" id="account_menu">
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if account_name
        %}{{account_name}}{% else %}Khách{% endif %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% if account_name %}
            <li><a href="people.php?id={% if account_name %}{{account_name}}{% else %}guest{% endif %}">Trang cá
                nhân</a></li>
            <!--<li><a href="user_settings.php">Thiết lập tài khoản</a></li>-->
            <li class="divider"></li>
            <li><a href="login.php?act=log_out">Thoát</a></li>
            {% else %}
            <li><a href="login.php">Đăng nhập/Đăng ký</a></li>
            {% endif %}
        </ul>
    </li>
</ul>

<!-- /Main Menu -->
