<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Góp chữ {% block title %} &raquo; {{ page_title }}{% endblock %}</title>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/master.css">
    {% endblock %}
</head>
<body>
<div role="banner">
    <!-- BEGIN PAGE HEADER -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" id="homepage_link" href="{% if homelink %}{{homelink}}{% else %}/{% endif %}">Góp
                    chữ</a>

                <div class="nav-collapse">
                    <!-- main menu begins -->
                    {% include 'main_menu.html' %}
                    {% block mainmenu %}{% endblock %}
                    <!-- main menu ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER -->
</div>


{% block main %}{% endblock %}

<!-- BEGIN PAGE FOOTER -->
<footer role="contentinfo">
    {% block footer %}{% endblock %}
</footer>

{% block bodyend %}
<script src="/assets/js/jquery-1.7.1.min.js"></script>
<script src="/assets/js/jquery-ui-1.8.18.custom.min.js"></script>

<script src="/assets/js/bootstrap-dropdown.js"></script>
<script src="/assets/js/bootstrap-scrollspy.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>

<script src="/assets/js/bootstrap-tooltip.js"></script>
<script src="/assets/js/bootstrap-modal.js"></script>

<script src="/assets/js/bootstrap-transition.js"></script>
<script src="/assets/js/bootstrap-alert.js"></script>
<script src="/assets/js/bootstrap-tab.js"></script>
<script src="/assets/js/bootstrap-tooltip.js"></script>
<script src="/assets/js/bootstrap-popover.js"></script>
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-carousel.js"></script>
<script src="/assets/js/bootstrap-typeahead.js"></script>

{% endblock %}
</body>
</html>
