{% extends "master.html" %}

{% block title %}{{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block main %}
<div class="container book-list">
    <h1>Các dự án</h1>
    <ul class="thumbnails">
        {% for project in projects %}
        <li>
            <div class="book-item-wrapper">
                <div class="book-item">
                    <a href="project_info.php?project={{project['uuid']}}" >
                    <!--<a class="" href="qed_ui.php?project={{project['uuid']}}&amp;tab=comment">-->
                            <img class="book-cover" src="/uploads/{{project['cover-img']}}" alt="{{project['book-name-original']}}" />
                    </a>

                    <div class="caption">
                        <h6>{{project['book-name-original']}}</h6>

                        <p>{% if project['project-is-draft'] %}<span class="label label-warning uppercase">Nháp</span>{%
                            endif %} {% if project['project-is-translation-work'] %}<span
                                    class="label label-warning uppercase">Dịch</span>{% endif %}
                            {{project['project-intro-short']}}</p>
                    </div>
                    <div class="bottom-actions">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="project_info.php?project={{project['uuid']}}"><i
                                        class="icon-info-sign icon-white"></i></a>
                                <a class="btn" href="qed_ui.php?project={{project['uuid']}}&amp;tab=comment"><i
                                        class="icon-book"></i></a>
                                {% if project['can-edit'] == true %}
                                <a class="btn" href="project_edit.php?act=edit&amp;project={{project['uuid']}}"><i
                                        class="icon-pencil"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block bodyend %}
{{ parent() }}
{% endblock %}

{% block footmenu %}
{{ parent() }}
{% endblock %}