{% extends "master.html" %}

{% block title %}{{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block main %}
<div class="container project-info">
    <h1>{{project_info['book-name-original']}}</h1>
    <p class="project-descriptions">Dự án sách của {{project_info['book-translator']}}</p>
    <ul class="nav nav-tabs tabbable project-info-tabs">
        <li class="active"><a href="#project-info" data-toggle="tab"><i class="icon-home"></i> Giới thiệu</a></li>
        <li><a href="#project-author" data-toggle="tab"><i class="icon-user"></i> Dịch giả</a></li>
        <li><a href="#project-news" data-toggle="tab"><i class="icon-comment"></i> Cập nhật từ dự án</a></li>
        <li><a href="#project-comments" data-toggle="tab"><i class="icon-comments-alt"></i> Ý kiến</a></li>
        {% if project_info['can-read'] == true %}
        <li><a href="qed_ui.php?project={{project_info['uuid']}}&amp;tab=comment"><i class="icon-book"></i> Đọc sách</a></li>
        {% endif %}
        <!--<li><a href="#project-backers" data-toggle="tab">Mạnh Thường Quân</a></li>-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="project-info">
            <div class="row">
                <div class="span8">
                    <div class="project-info-at-a-glance">
                        <div class="short-intro">{{project_info['project-intro-short']}}</div>
                    </div class="project-info-detailed-information">
                    <div>
                        <pre id="project-intro-preformat">{{project_info['project-intro']}}</pre>
                        <div id="project-intro-postformat">{{project_info['project-intro']}}</div>
                    </div>
                </div>

                <div class="span4 project-info-right">
                    <div>
                    <div class="book-cover">
                        <img src="/uploads/{{project_info['cover-img']}}" alt="{{project_info['book-name-original']}}"/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="project-author">

        </div>
        <div class="tab-pane" id="project-news">

        </div>
        <div class="tab-pane" id="project-comments">
            <p>Phần này đang được xây dựng, xin bạn trở lại sau.</p>
        </div>
    </div>

</div>
{% endblock %}

{% block bodyend %}
{{ parent() }}
<script src="/assets/pagedown/Markdown.Converter.js"></script>
<script src="/assets/pagedown/Markdown.Sanitizer.js"></script>
<script>
    var converter1 = Markdown.getSanitizingConverter();
    $('#project-intro-postformat').html(converter1.makeHtml($('#project-intro-preformat').text()));
    $('#project-intro-preformat').remove();
</script>
{% endblock %}

{% block footmenu %}
{{ parent() }}
{% endblock %}