{% extends "master.html" %}

{% block title %}{{ parent() }} Dự án {% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block main %}
<div class="container">
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Thông tin cơ bản</legend>

            <div class="control-group">
                <label class="control-label" for="project-name">Tên dự án (Ngắn gọn)</label>

                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">books.gopchu.org/</span><input class="span2" id="prependedInput" size="16"
                                                                            type="text" id="project-name"
                                                                            name="project-name" value="{{project_info['project-name']}}">
                    </div>
                    <p class="help-block">Đây sẽ là địa chỉ của dự án để mọi người cùng truy cập.</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="book-name-original">Tên sách (Nguyên bản)</label>

                <div class="controls">
                    <input type="text" class="input-xlarge span7" id="book-name-original" name="book-name-original" value="{{project_info['book-name-original']}}">

                    <p class="help-block">Xin hãy nhập vào tên cuốn sách nguyên bản.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="book-project-owners">Dịch giả</label>

                <div class="controls">
                    <input type="text" class="input-xlarge span7" id="book-translator" name="book-translator" value="{{project_info['book-translator']}}">

                    <p class="help-block">Xin tên dịch giả hay nhóm dịch giả.</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="textarea">Tóm lược</label>

                <div class="controls">
                    <input type="text" class="input-xlarge span7" id="project-intro-short" name="project-intro-short"  value="{{project_info['project-intro-short']}}">

                    <p class="help-block">Tóm lược về dự án thật ngắn gọn trong 150 ký tự.</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="textarea">Giới thiệu</label>

                <div class="controls">
                    <textarea class="input-xlarge span7" rows="5" id="project-intro"
                              name="project-intro">{{project_info['project-intro']}}</textarea>
                    <div id="project-intro-editor" class="span7"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="textarea">Bìa</label>

                <div class="controls">
                    <input name="cover-file" type="file" id="cover-file"/>

                    <p class="help-block">Tải hình bìa đứng, tỉ lệ 2x3 cho cuốn sách. File dưới định dạng JPG hoặc
                        PNG.</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="optionsCheckboxList">Các thông tin bổ sung khác</label>

                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="project-is-translation-work" value="{{project_info['project-is-translation-work']}}">
                        Đây là một dự án dịch
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="project-is-draft" value="{{project_info['project-is-draft']}}">
                        Đang làm nháp - Không liệt kê dự án này ở trang chính
                    </label>
                </div>
            </div>

            <legend>Những người tham gia</legend>

            <div class="control-group">
                <label class="control-label" for="textarea">Người quản lý dự án</label>

                <div class="controls">
                    <input type="text" class="input-xlarge span7" id="project-owners" name="project-owners"  value="{{project_info['project-owners']}}">

                    <p class="help-block">Xin điền email của những người được phép sửa dự án này vào đây, phân cách bằng dấu ,</p>
                </div>
            </div>

            <legend>Kinh phí và thời gian</legend>

            <p>Chức năng cho phép chỉ định kinh phí và thời gian đang được phát triển :-)</p>

            <legend>Bản quyền</legend>

            <p>Với việc đưa dự án của tôi lên Góp chữ, tôi đồng ý phát hành công trình của mình dưới giấy phép <a
                    href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Attribution-NonCommercial-NoDerivs</a> (<a
                    href="/wigit/?r=license" target="_blank">Giải thích về việc này</a>).</p>

            <div class="form-actions">
                <button type="reset" class="btn btn-large">Hủy</button>
                <button type="submit" class="btn btn-primary btn-large">Ghi lại</button>
            </div>
        </fieldset>


    </form>
</div>
{% endblock %}

{% block bodyend %}
{{ parent() }}
<script src="/assets/pagedown/Markdown.Converter.js"></script>
<script src="/assets/pagedown/Markdown.Sanitizer.js"></script>
<script src="/assets/js/elastic.js"></script>
<script src="/assets/qed/qed.js"></script>

<script>
    qed_basic = new QED(
            {
                source:$('#project-intro').text(),
                editorarea:$('#project-intro-editor'),
                destination:$('#project-intro')
            }
    );
    $('#project-intro').hide();

</script>
{% endblock %}

{% block footmenu %}
{{ parent() }}
{% endblock %}