{% extends "master.html" %}

{% block title %}{{ parent() }} Book Editor {% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/assets/css/editor.css">
{% endblock %}

{% block bodyend %}
{{ parent() }}
<script src="/assets/pagedown/Markdown.Converter.js"></script>
<script src="/assets/pagedown/Markdown.Sanitizer.js"></script>
<script src="/assets/js/elastic.js"></script>
<script src="/assets/qed/qed.js"></script>

<script src="/assets/js/soundmanager2-nodebug-jsmin.js"></script>
<script src="/assets/js/google-tts.js"></script>

<!--<script src="/assets/js/mudim-optimized.js"></script>-->
<script>
    {% if (current_tab == 'edit') %}
    qed_basic = new QED(
            {
                source:$('#sauce').val(),
                editorarea:$('#editor'),
                destination:$('#sauce'),
            }
    );

    $('#sauce').hide();

    {% elseif(current_tab == 'source') %}
    $('#sauce').focus();
    {% else %}
    qed_basic = new QED(
            {
                source:$('#sauce').val(),
                editorarea:$('#editor'),
                destination:$('#sauce'),
                refmode:true,
            }
    );

    $('#sauce').hide();

    $('#editor-toolbar').hide();
    {% endif %}

    redirectToNewPage = function (response) {
        window.location = window.nextPage;
    }

    doNothing = function (response) {
        // do nothing
    }

    bringNewChapterDialog = function () {
        qed_basic.handleParagraphEditDone();
        newChapter = prompt("Xin mời nhập một tên ngắn gọn cho chương mới (Ví dụ: ch1)", "ch1");
        if (newChapter != null) {
            window.nextPage = '{{section_link|raw}}&section=' + newChapter + '.md';
            saveDocument(redirectToNewPage);
        }
        return false;
    }

    saveDocument = function (callback) {
        $.ajax({type:'POST', url:'{{tab_link|raw}}&act=SaveFile', data:$('#docform').serialize(), success:function (response) {
            callback(response);
        }});
        return false;
    }

    saveListingOrder = function (callback) {
        var postData = 'order={ ' +
                        '"public" : ' + JSON.stringify($("#public_listing").sortable("toArray")) + ', ' +
                        '"draft" : ' + JSON.stringify($("#draft_listing").sortable("toArray")) + '} '
                ;
        postData = encodeURI(postData);
        $.ajax({type:'POST', url:'{{tab_link|raw}}&act=SaveListingOrder', data:postData, success:function (response) {
            callback(response);
        }});
        return false;
    }

    {% if can_change %}
        $(function () {
            $("#public_listing, #draft_listing").sortable({
                items:"li:not(.nav-header)",
                connectWith:".sortable-listing",
                update:function (event, ui) {
                    saveListingOrder(doNothing);
                },
            }).disableSelection();
        });
    {% endif %}

    {% if current_tab == 'comment' %}
        $(document).ready(function () {
            $("[rel=tooltip]").tooltip();
        });
    {% endif %}

    soundManager.url = '/assets/swf/';
    var googleTts = new window.GoogleTTS();
    readAloud = function(lang, word) {
        googleTts.play(word, lang, function(err) {
            if (err) {
                alert(err.toString());
            }
        });
        return 0;
    }
</script>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 navview hidden-phone">
            <div class="btn-toolbar left-toolbar" id="editor-toolbar">
                <div class="btn-group">
                    <a class="btn" href="#"><i class="icon-bold"></i></a>
                    <a class="btn" href="#"><i class="icon-italic"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" href="#"><i class="icon-picture"></i></a>
                    <!--<a class="btn" href="#"><i class="icon-magnet"></i></a>-->
                </div>

                <div class="btn-group">
                    <a class="btn" href="#" onclick='return saveDocument()'><i class="icon-save"></i></a>
                    <!--<a class="btn" href="#"><i class="icon-magnet"></i></a>-->
                </div>
            </div>
            <ul class="nav nav-list sortable-listing" id="public_listing">
                <li class="nav-header">
                    Các Chương (Hoàn thiện)
                </li>
                {% for item in dir_listing_public %}
                <li id="{{item}}" class="{{ current_section == item ? 'active' : '' }}">
                    <a href="{{section_link}}&amp;section={{item}}">
                        {% if item == 'intro.md' %}
                        <i class="icon-info-sign"></i>
                        Giới thiệu
                        {% else %}
                        <i class="icon-file"></i>
                        {{item}}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>

            {% if can_change %}
            <ul class="nav nav-list sortable-listing" id="draft_listing">
                <li class="nav-header">
                    Các Chương (Nháp)
                </li>
                {% for item in dir_listing_draft %}
                <li id="{{item}}" class="{{ current_section == item ? 'active' : '' }}">
                    <a href="{{section_link}}&amp;section={{item}}">
                        {% if item == 'intro.md' %}
                        <i class="icon-info-sign"></i>
                        Giới thiệu
                        {% else %}
                        <i class="icon-file"></i>
                        {{item}}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <ul class="nav nav-list">
                {% if can_change %}
                <li>
                    <a href="#" onclick="return bringNewChapterDialog();">
                        <i class="icon-plus"></i>
                        Chương mới
                    </a>
                </li>
                <!--
                <li class="nav-header">
                    Cấu hình
                </li>
                <li>
                    <a href="#">
                        <i class="icon-cog"></i>
                        Thiết lập
                    </a>
                </li>
                {% endif %}
                <li class="nav-header">
                    Công cụ
                </li>
                <li>
                    <a href="#" onclick="return getCode()">
                        <i class="icon-cog"></i>
                        Xuất eBook
                    </a>
                </li>
                -->
            </ul>
        </div>
        <div class="span10 editorview">
            <div id="editor" class="editor-inner"></div>
            <form id="docform" method="POST">
                <textarea id="sauce" name="sauce" class="textbox-full">{{markdown_text}}</textarea>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
<div class="btn-toolbar bottom-toolbar">
    <div class="btn-group">
        {% if can_change %}
        <a class="btn {{ current_tab == 'source' ? 'active' : '' }}" href="{{tab_link}}&amp;tab=source"><i
                class="icon-edit"></i> Nguồn</a>
        <a class="btn {{ current_tab == 'edit' ? 'active' : '' }}" href="{{tab_link}}&amp;tab=edit"><i
                class="icon-pencil"></i> Soạn thảo</a>
        {% endif %}
        <a class="btn {{ current_tab == 'comment' ? 'active' : '' }}" href="{{tab_link}}&amp;tab=comment"><i
                class="icon-comment"></i> Góp ý</a>
        <!--<a class="btn {{ current_tab == 'read' ? 'active' : '' }}" href="{{tab_link}}&amp;tab=read"><i class="icon-eye-open"></i> Đọc duyệt</a>-->
    </div>
</div>


<!-- Comment form -->
<div class="modal hide fade" id="comments-view">
    <div class="modal-header">
        <button class="close" data-dismiss="comments-view">×</button>
        <h3>Luồng góp ý</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Đóng lại</a>
    </div>
</div>


{% if current_tab == 'comment' %}
{% endif %}

{% endblock %}
